.section {
  position: relative;
  padding: 30px 20px 0;

  @media (min-width: $mq-breakpoint-tablet) {
    padding: 70px 20px 0;
  }
}

.section__title {
  display: block;
  font-weight: 700;
  font-size: 1.875rem; // 30px
  line-height: 2.25rem; // 36px
  text-align: center;
  color: #000;
  margin: 0 0 30px;

  @media (min-width: $mq-breakpoint-tablet) {
    font-size: 3rem; // 48px
    line-height: 3.6875rem; // 59px
    margin: 0 0 70px;
  }
}
