/**
 Media.
*/
$mq-breakpoint-tablet: 768px;
$mq-breakpoint-desktop: 1200px;

/**
 Hamburgers.
*/

$hamburger-padding-x: 5px;
$hamburger-padding-y: 5px;
$hamburger-layer-color: #fff;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-hover-opacity: 0.8;

/**
 * Transitions.
*/

$transition-duration-default: 0.2s;
